@import '../../../../../styles/base.scss';

$search-bar-width: 250px;

.search-bar {
    height: 100%;
    width: fit-content;
    height: fit-content;
    position: relative;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #555;
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        position: absolute;
        right: 0px;
        /*    color of the glass */
        color: #000;
        background-color: transparent;
        pointer-events: painted;

        &:focus~.input-search {
            width: $search-bar-width;
            border-radius: 0px;
            background-color: #fff;
            /*   focus: underline  */
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }

    }

    .input-search {
        width: 45px;
        height: 50px;
        border-style: none;
        padding: 10px;
        font-size: 1.6rem;
        outline: none;
        border-radius: 10px;
        transition: all .5s ease-in-out;
        /*   color of the circle cover glass */
        background-color: #fff;
        padding-right: 40px;
        /*   searching text color */
        color: #555;

        &::placeholder {
            /*   placeholder text */
            color: #999;
            font-size: 1.6rem;
            font-weight: 100;
        }

        &:focus {
            width: $search-bar-width;
            border-radius: 0px;
            background-color: #fff;
            /*   underline appear while typing*/
            // border-bottom: 1px solid #999;
            transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        }

    }
}

