// GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;1,300&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100;300;400;500&display=swap');

$color-one: #000;

$color-two: #007681;
$color-two-lighter: #0dacbb;
$color-two-lighter-hover: #0ac4d4;

$color-three: #666;
$color-four: #cecece;
$color-five:  #f8b118;
$color-six:  #c08218;

$color-old-price:#9d9d9d;
$color-icon-one: #fff;

$roboto-font: 'Roboto', sans-serif;
$roboto-condensed-font: 'Roboto Condensed', sans-serif;
$barlow-condensed-font: 'Barlow Condensed', sans-serif;
$libre-franklin-font: 'Libre Franklin', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

main {
    overflow: hidden;
}

.display-none {
    display: none;
}

.mini-section {
    position: relative;

    &__bg {
        height: 100%;
        max-width: 100%;
        vertical-align: middle;
        object-fit: cover;
    }

    &__title {
        font-family: $barlow-condensed-font;
        font-size: 4.5rem;
        position: relative;
        margin-top: -8rem;
        margin-left: 3.5rem;
        color: #fff;
        text-transform: uppercase;
    }
}