// src/styles/iconStyles.scss

@import './base.scss';


%icon-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding: 1rem;
    background-color: $color-six;
    border-radius: 8px;
    transition: all 0.2s;

    &:hover, &:hover > * {
        transform: scale(1.1);
        color: #fff;
    }
}

%icon {
    font-size: 2.2rem;
    color: #fff;
    transition: all 0.2s;
}


// RESPONSIVE

@media (min-width: 0px) {

    %icon-wrapper{
        padding: .8rem;
    }

    %icon {
        font-size: 2rem;
    }
}

@media (min-width: 420px) {
    %icon-wrapper {
        padding: .9rem;
    }
}

@media (min-width: 680px) {
    %icon-wrapper {
        padding: 1rem;
    }
    
    %icon {
        font-size: 2.2rem;
    }
}
