@import '../../../../styles/base.scss';
@import '../../../../styles/iconStyles.scss';

$color-bg-nav: #241f1f;

nav {
    background-color: $color-bg-nav;
    width: 100%;
    position: relative;
    height: 100%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;

    .container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// NAVIGATION RESPONSIVE
@media (max-width: 1200px) {
    .search-bar {
        display: none;
    }
}

@media (max-width: 768px) {
    .menu-wrapper {
        display: none;  
    }

    .menu-bar {
        display: flex;
    } 
}