@import '../../../../styles/base.scss';
@import '../../../../styles/iconStyles.scss';

$color-bg-nav: #000;

nav {
    background-color: $color-bg-nav;
    width: 100%;
    position: relative;
    height: 100%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;

    .container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

// NAVIGATION RESPONSIVE
@media (min-width: 0px) {
    .search-bar {
        display: none;
    }

    .menu-bar {
        display: flex;
        margin-left: 3.5rem;
    } 

    .menu-wrapper {
        display: none;
    }

    .user-cart-wrapper {
        width: 14rem;
    }  
}

@media (min-width: 350px) {

}

@media (min-width: 420px) {
    .user-cart-wrapper {
        width: 15rem;
    }

}

@media (min-width: 496px) {
}

@media (min-width: 768px) {
    .menu-wrapper {
        display: flex;
    }

    .menu-bar {
        display: none;
    } 

    .user-cart-wrapper {
        width: 16rem;
    }

    .menu-wrapper-two {
        display: none !important;
    }
}

@media (min-width: 991px) {
}

@media (min-width: 1080px) {
    
}

@media (min-width: 1200px) {
    .search-bar {
        display: flex;
    }
}

